$primary_color: #00071f;
$sub1: #00d18b;
$sub2: #1273a8;
$white: #fff;
$font-big: 64px;
$font-head: 32px;
$font1: 24px;
$font2: 26px;
$font3: 12px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
