// .main__container {
//   background: $primary-color;
// }

.main__top__container {
  height: 180px;
  text-align: center;
  color: $sub1;
  font-size: $font-big;
  padding-top: 30px;
  transition: all 1s ease-in;
}

.login__container {
  background: transparent;
  align-items: center;
  align-self: center;
  padding-top: 30px;
  margin-left: 400px;
  width: 50%;
  border-radius: 10px;
  height: 350px;
  align-self: center;
  text-align: center;

  p {
    font-size: $font-head;
    height: 80px;
  }

  .submit__container {
    margin: 30px 0 20px 350px;
    background: $sub1;
    padding: 8px 0 0 0;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    a {
      text-decoration: none;
      color: $primary-color;
      font-size: 16px;
      font-weight: bold;
    }

    &:hover {
      background: $primary_color;
      color: $sub1;
      cursor: pointer;
      border: 1px solid $sub2;
      transition: all 0.5s ease-in-out;
    }

    &:hover a {
      color: $sub1;
      cursor: pointer;
    }
  }
}

.partner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 100px;
  width: 90%;
  height: 300px;
  background: slategray;

  p {
    font-size: $font-head;
    margin-top: 20px;
  }
}

.login {
  width: 320px;
  padding: 30px;
  margin-left: 250px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: $sub1;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
  color: $sub1;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: $sub1;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid $sub2;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: $primary_color;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;

  a {
    text-decoration: none;
    color: $primary_color;
  }
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: $primary_color;
}

.button__text {
  margin-left: 70px;
}
