* {
  background: #00071f;
  @import url("http://fonts.cdnfonts.com/css/minimo");

  color: #1273a8;
  font-family: "Minimo", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.top__container {
  font-size: 5rem;
  color: #1273a8;
  text-align: center;
  padding-top: 1vh;
  animation: fadeIn 1s;
}

/* Main Wrapper */
.main__container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

/* Div 01 */
#div01 {
  min-height: 100vh;
  width: 100vw;
}
.omn__container {
  color: #6a679e;
  margin: 100px 0 0 350px;
  width: 50%;
  display: flex;
  flex-direction: row;
  font-size: 8rem;
  justify-content: space-evenly;
}

.omn__container ul:nth-child(1) {
  /* transition: all 1s ease-in; */
  animation: fadeIn 1s;
}
.omn__container ul:nth-child(2) {
  /* transition: all 1.5s ease-in; */
  animation: fadeIn 1.5s;
}
.omn__container ul:nth-child(3) {
  /* transition: all 2s ease-in; */
  animation: fadeIn 2s;
}
.omn__container ul:nth-child(4) {
  /* transition: all 2.5s ease-in; */
  animation: fadeIn 2.5s;
}
.omn__container ul:nth-child(5) {
  /* transition: all 3s ease-in; */
  animation: fadeIn 3s;
}
.omn__container ul:nth-child(6) {
  /* transition: all 3.5s ease-in; */
  animation: fadeIn 3.5s;
}
.omn__container ul:nth-child(7) {
  /* transition: all 4s ease-in; */
  animation: fadeIn 4s;
}
.omn__container ul:nth-child(8) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 4.5s;
}

.omn__tag__container {
  color: #6a679e;
  margin: 100px 0 0 350px;
  width: 50%;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  justify-content: space-evenly;
}

.omn__tag__container div {
  display: flex;
  flex-direction: row;
}

.omn__tag__container ul:nth-child(1) {
  /* transition: all 1s ease-in; */
  animation: fadeIn 5s;
}
.omn__tag__container ul:nth-child(2) {
  /* transition: all 1.5s ease-in; */
  animation: fadeIn 5.5s;
}
.omn__tag__container ul:nth-child(3) {
  /* transition: all 2s ease-in; */
  animation: fadeIn 6s;
}
.omn__tag__container ul:nth-child(4) {
  /* transition: all 2.5s ease-in; */
  animation: fadeIn 6.5s;
}
.omn__tag__container ul:nth-child(5) {
  /* transition: all 3s ease-in; */
  animation: fadeIn 7s;
}
.omn__tag__container ul:nth-child(7) {
  /* transition: all 3.5s ease-in; */
  animation: fadeIn 7.5s;
}
.omn__tag__container ul:nth-child(8) {
  /* transition: all 4s ease-in; */
  animation: fadeIn 8s;
}
.omn__tag__container ul:nth-child(9) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 8.5s;
}
.omn__tag__container ul:nth-child(6) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 8.5s;
}
.omn__tag__container ul:nth-child(10) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 9s;
}
.omn__tag__container ul:nth-child(11) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 9.5s;
}
.omn__tag__container ul:nth-child(12) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 10s;
}
.omn__tag__container ul:nth-child(13) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 10.5s;
}
.omn__tag__container ul:nth-child(14) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 10.5s;
}
.omn__tag__container ul:nth-child(15) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 11s;
}
.omn__tag__container ul:nth-child(16) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 11.5s;
}
.omn__tag__container ul:nth-child(17) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 12s;
}
.omn__tag__container ul:nth-child(18) {
  /* transition: all 4.5s ease-in; */
  animation: fadeIn 12.5s;
}
.main__wrapper {
  display: flex;
  flex-direction: row;
}

.login__wrapper {
  margin: 10px 20px;
  padding: 30px;
  background: #1273a8;
  color: #003399;
  height: 10vh;
  width: 20%;
  font-size: 2rem;
  text-align: center;
}

.login__wrapper a {
  background: transparent;
  color: #003399;
  text-decoration: none;
}

@media (max-width: 768px) {
  .omn__container {
    font-size: 50px;
    margin: 30vh 0 0 25vw;
  }

  .omn__tag__container {
    /* font-size: 16px; */
    margin-left: 0;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .omn__1 {
    margin-left: 15vw;
  }

  .omn__2 {
    margin-left: -10vw;
  }
}

@media (max-width: 480px) {
  .omn__container {
    font-size: 1rem;
    justify-content: flex-start;
    margin: 50px 0 0 0;
    width: 100%;
  }

  .omn__1 {
    font-size: 1.2rem;
    margin-left: 110px;
  }

  .omn__2 {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    justify-content: flex-start;
  }
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
